.btn1 {
    height: 50px;
    padding: 0rem 2rem;
    background-color: #e31836;
    color: #eff0f2;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}
.btn2 {
    height: 50px;
    padding: 0rem 2rem;
    background-color: #eff0f2;
    color: #e31836;
    border: 1px solid #e31836;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}
.btn2:hover {
    background-color: #e31836;
    color: #eff0f2;
}
.process-bar {
    height: 20px;
    width: 90%;
    background-color: #ededed;
    border-radius: 2px;
    margin-bottom: 1rem;
}
.process-bar-dark {
    height: 20px;
    width: 90%;
    background-color: #5a5e5f;
    border-radius: 2px;
    margin-bottom: 1rem;
}
.process-bar-90 {
    height: 20px;
    width: 90%;
    background-color: #e31836;
    color: #ededed;
    border-radius: 2px;
    text-align: end;
}
.process-bar-80 {
    height: 20px;
    width: 80%;
    background-color: #e31836;
    color: #ededed;
    border-radius: 2px;
    text-align: end;
}
.process-bar-99 {
    height: 20px;
    width: 99%;
    color: #060e10;
    background-color: #ffffff;
    border-radius: 2px;
    text-align: end;
}